@import url('../fonts/stylesheet.css');
:root {
  --background: #ffffff;
  --foreground: #171717;
}

// @media (prefers-color-scheme: dark) {
//   :root {
//     --background: #0a0a0a;
//     --foreground: #ededed;
//   }
// }

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
}
input,
select,
textarea{
  width: 100%;
  border: none;
  border-bottom: 1px solid #E4E4E4;
  height: 36px;
  display: block;
  background: #fff;
  color: #332C2B;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
}
textarea{
  height: 100px;
  resize: none;
}
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"]{
  -moz-appearance: textfield;
}
::placeholder{
  color: #C9C9C9;
  opacity: 1;
}
.green_btn,
.grey_btn{
  width: 100%;
  background: #19A748;
  color: #fff;
  text-align: center;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  height: 44px;
  display: block;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
}
.grey_btn{
  background: #E4E4E4;
  color: #332C2B;
}
section{
  padding-top: 90px;
  min-height: calc(100vh - 100px);
}
.section_homepage{
  padding-bottom: 40px;
  .container{
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
  }
}
.loader {
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #2D3480;
  margin: 0 auto;
  --_m: 
    conic-gradient(#0000 10%,#000),
    linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
          mask: var(--_m);
  -webkit-mask-composite: source-out;
          mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {to{transform: rotate(1turn)}}

// @media (prefers-color-scheme: dark) {
//   html {
//     color-scheme: dark;
//   }
// }
