.section_login{
    width: 100%;
    .container{
        display: flex;
        flex-wrap: wrap;
    }
    .banner_slider{
        width: 746px;
        .slick-slider{
            img{
                width: 100%;
                height: auto;
                display: block;
            }
        }
        .slick-dots{
            bottom: 60px;
        }
    }
    .section_form{
        width: calc(100% - 746px);
        background: url('../public/images/batik.png') no-repeat center / cover;
        display: flex;
        align-items: center;
        .sf_box{
            width: calc(100% - 40px);
            border-radius: 20px;
            padding: 20px;
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
            margin: 0 auto;
            background: #fff;
            h3{
                text-align: center;
                margin-bottom: 20px;
                font-size: 24px;
                font-weight: bold;
                span{
                    color: #009B4C;
                }
            }
        }
        .form_box{
            margin-bottom: 20px;
            position: relative;
        }
        .show_pass{
            width: 24px;
            height: 24px;
            display: block;
            background: url('../public/images/icon_eye.png') no-repeat center / contain;
            position: absolute;
            top: 0;
            right: 0;
            cursor: pointer;
            text-indent: -9999px;
            &.active{
                background: url('../public/images/icon_eye_close.png') no-repeat center / contain;
            }
        }
        .remember_box{
            width: 50%;
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            &.agreement{
                width: 100%;
            }
            input{
                width: 20px;
                height: 20px;
                margin-right: 10px;
            }
            label{
                font-size: 16px;
                font-weight: 500;
                display: flex;
                align-items: center;
                color: #332C2B;
            }
        }
        .forgot_password{
            color: #332C2B;
            position: absolute;
            font-weight: 500;
            top: 0;
            right: 0;
        }
        .button_wrapper{
            .create_acc_btn{
                color: #009B4C;
                font-size: 16px;
                font-weight: 500;
                text-align: center;
                display: block;
                padding: 15px 0;
            }
        }
    }
}