.section_complete_profile{
    width: 100%;
    min-height: calc(100vh - 190px);
    background: url('../public/images/batik.png') center / cover fixed;
    padding: 60px 0;
    .scp_box{
        padding: 20px;
        border-radius: 20px;
        background: #fff;
        border: 1px solid #E4E4E4;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
        max-width: 540px;
        margin: 0 auto;
    }
    h2{
        text-align: center;
        margin-bottom: 20px;
    }
    .steps_box{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .step_number{
            position: relative;
            padding-bottom: 60px;
            &.active{
                &::before{
                    background: #009B4C;
                }
            }
            &::before{
                content: '';
                width: 30px;
                height: 30px;
                background: #C9C9C9;
                display: block;
                border-radius: 30px;
                position: absolute;
                top: 30px;
                left: 50%;
                transform: translateX(-50%);
                z-index: 10;
            }
            &::after{
                content: '';
                width: 140px;
                height: 1px;
                background: #C9C9C9;
                display: block;
                border-radius: 30px;
                position: absolute;
                top: 45px;
                left: 50%;
                z-index: 5;
            }
            &:last-child{
                &::after{
                    display: none;
                }
            }
        }
    }
    .form_box{
        margin-bottom: 20px;
        input{
            height: 30px;
            &:read-only{
                color: #999999;
            }
        }
        span.title{
            font-size: 16px;
            font-weight: 500;
            color: #C9C9C9;
            display: block;
            i{
                color: #FF2F00;
            }
        }
        .radio_box{
            display: flex;
            flex-wrap: wrap;
            .radio_ctr{
                position: relative;
                margin-right: 10px;
                input[type="radio"]{
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 10;
                    opacity: 0;
                    &:checked + span{
                        background: url('../public/images/icon_radio_fill.png') no-repeat left center / 14px;
                    }
                }
                span{
                    background: url('../public/images/icon_radio_empty.png') no-repeat left center / 14px;
                    padding-left: 18px;
                }
            }
        }
    }
    .leaders_box{
        position: relative;
    }
    .remove_leader_btn{
        background: url('../public/images/icon_remove.png') no-repeat left center / 20px;
        text-align: left;
        padding-left: 25px;
        font-weight: 500;
        font-size: 16px;
        color: #FF2F00;
        border: none;
        position: absolute;
        top: 0;
        right: 0
    }
    .add_leader_btn{
        width: 100%;
        background: url('../public/images/icon_add.png') no-repeat right center / 24px;
        text-align: right;
        padding-right: 30px;
        font-weight: 500;
        font-size: 16px;
        color: #332C2B;
        margin-bottom: 20px;
    }
    .button_wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .grey_btn{
            width: 80px;
            margin: 0 5px;
        }
        .green_btn{
            width: 80px;
            margin: 0 5px;
        }
    }
}