.section_complete_profile{
    width: 100%;
    min-height: calc(100vh - 190px);
    background: url('../public/images/batik.png') center / cover fixed;
    padding: 60px 0;
    .scp_box{
        padding: 20px;
        border-radius: 20px;
        background: #fff;
        border-radius: 1px solid #E4E4E4;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
        max-width: 540px;
        margin: 0 auto;
    }
    h2{
        text-align: center;
        margin-bottom: 20px;
    }
    .steps_box{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .step_number{
            position: relative;
            padding-bottom: 60px;
            &.active{
                &::before{
                    background: #009B4C;
                }
            }
            &::before{
                content: '';
                width: 30px;
                height: 30px;
                background: #C9C9C9;
                display: block;
                border-radius: 30px;
                position: absolute;
                top: 30px;
                left: 50%;
                transform: translateX(-50%);
                z-index: 10;
            }
            &::after{
                content: '';
                width: 140px;
                height: 1px;
                background: #C9C9C9;
                display: block;
                border-radius: 30px;
                position: absolute;
                top: 45px;
                left: 50%;
                z-index: 5;
            }
            &:last-child{
                &::after{
                    display: none;
                }
            }
        }
    }
}