.section_cover_image{
    width: 100%;
    height: 420px;
    display: block;
    position: relative;
    margin-bottom: 30px;
    img{
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
    }
    .change_cover_btn{
        position: absolute;
        bottom: 20px;
        right: 20px;
        input[type="file"]{
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            cursor: pointer;
            z-index: 10;
        }
        span{
            display: block;
            background: url('../public/images/icon_pencil_white.png') no-repeat right center / 24px;
            color: #fff;
            font-size: 16px;
            font-weight: 500;
            z-index: 5;
            position: relative;
            border-radius: 10px;
            padding: 5px 10px;
            padding-right: 30px;
            &::before{
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba($color: #ffffff, $alpha: 0.25);
                border-radius: 10px;
                filter: blur(2px);
            }
        }
    }
    .upload_cover_btn{
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        background: #C3C3C3;
        top: 0;
        left: 0;
        input[type="file"]{
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            cursor: pointer;
            z-index: 10;
        }
        span{
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            background: url('../public/images/icon_picture.png') no-repeat left center / 24px;
            color: #2C347F;
            font-size: 24px;
            font-weight: bold;
            padding-left: 30px;
            z-index: 5;
            transform: translate(-50%, -50%);
        }
    }
}