.ep_ctr {
  width: 100%;
  min-height: calc(100vh - 100px);
  background: url('../public/images/batik.png') center / cover fixed;
  padding: 90px 0;
  .ep_content {
    display: flex;
    justify-content: center;
    margin-top: 60px;
  }
  .ep_box {
    width: 542px;
    height: 400px;
    border-radius: 20px;
    border: 1px solid #e4e4e4;
    background-color: #fff;

    padding: 33px 44px;

    display: flex;
    flex-direction: column;
    gap: 32px;
    overflow: auto;

    .ep_title {
      display: flex;
      justify-content: center;

      //styleName: H2;
      font-family: 'Poppins', sans-serif;
      font-size: 24px;
      font-weight: 700;
      line-height: 36px;
      text-align: center;
      color: #332c2b;
    }

    .ep_participants{
        display: flex;
        flex-direction: column;
    }

    .add_participant_btn {
      display: flex;
      gap: 7px;
      align-items: center;
      justify-content: flex-end;

      //styleName: Body 1;
      font-family: 'Poppins', sans-serif;
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      text-align: left;
    }
  }
}
