footer{
    width: 100%;
    height: 100px;
    background: #2D3480;
    .container{
        height: 100px;
        padding: 0 20px;
    }
    .logo{
        filter: invert(1) brightness(100);
        position: absolute;
        top: 50%;
        left: 20px;
        transform: translateY(-50%);
    }
    .social_media{
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        span{
            display: block;
            color: #BEEF61;
            font-size: 16px;
            font-weight: 500;
        }
        ul{
            display: block;
            list-style: none;
            height: 24px;
            li{
                display: inline-block;
                margin-left: 10px;
                img{
                    display: block;
                }
            }
        }
    }
}