header{
    width: 100%;
    height: 90px;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 0 5px rgba($color: #000000, $alpha: 0.5);
    .container{
        height: 90px;
        .logo{
            position: absolute;
            top: 50%;
            left: 20px;
            transform: translateY(-50%);
        }
        .lang_box{
            position: absolute;
            top: 50%;
            right: 20px;
            transform: translateY(-50%);
            background: #BDBDBD;
            border-radius: 10px;
            height: 30px;
            line-height: 30px;
            .lang{
                display: inline-block;
                padding: 0 10px;
                cursor: pointer;
                color: #fff;
                border-radius: 10px;
                font-weight: 400;
                &.active{
                    background: #2C347F;
                    font-weight: 500;
                }
            }
        }
    }
    &.login{
        background: none;
        box-shadow: none;
        position: absolute;
        .container{
            .logo{
                filter: brightness(0) invert(1);
            }
            .notif_box{
                width: 58px;
                height: 58px;
                border-radius: 58px;
                background:#fff url('../public/images/icon_notif.png') no-repeat center / 17px;
                position: absolute;
                top: 50%;
                right: 130px;
                transform: translateY(-50%);
            }
        }
        &+ section{
            padding-top: 0;
        }
    }
}