.section_left_menu{
    width: 215px;
    margin-right: 55px;
    .company_logo_box{
        width: 215px;
        height: 215px;
        position: relative;
        background: #C9C9C9;
        border-radius: 10px;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
        margin-bottom: 20px;
        .upload_logo_btn{
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            input[type="file"]{
                width: 100%;
                height: 100%;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0;
                cursor: pointer;
                z-index: 10;
            }
            span{
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                background: url('../public/images/icon_picture.png') no-repeat top center / 24px;
                color: #2C347F;
                font-size: 14px;
                font-weight: bold;
                padding-top: 30px;
                z-index: 5;
                transform: translate(-50%, -50%);
                text-align: center;
            }
        }
    }
    .company_address_box{
        margin-bottom: 20px;
        h5{
            color: #C9C9C9;
            font-size: 14px;
            font-weight: 500;
            border-bottom: 1px solid #C9C9C9;
            margin-bottom: 10px;
        }
        .cab_ctr{
            margin-bottom: 20px;
            h4{
                font-size: 18px;
                color: #2C347F;
                font-weight: 500;
                margin-bottom: 5px;
            }
            color: #5B5B5B;
            font-size: 14px;
            font-weight: 500;
        }
    }
}