.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1001;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  width: 800px;
  z-index: 1002;
  border-radius: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.modal_ctr {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  .close_button {
    font-size: 20px;
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
    color: #595959;
  }
}

.modal-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  .modal-message {
    //styleName: ESG Heading/ESG Heading M;
    font-family: 'Roobert PRO', sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 41.6px;
    text-align: center;
    color: #203864;
  }
  .modal-actions {
    display: flex;
    gap: 10px;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .modal {
    width: 90%;
  }
}

.modal_terms_condition {
  display: flex;
  flex-direction: column;
//   align-items: center;
//   justify-content: center;
  gap: 10px;
  height: 400px;
  width: 100%;
  max-width: 800px;
  overflow-y: auto;
  h1{
    text-align: center;
  }
  span {
    font-size: 22px !important;
    color: #391085 !important;
  }

  ul {
    list-style: disc;
    padding-left: 40px;
  }
  ol {
    list-style: decimal;
    padding-left: 40px;
    li {
      margin-bottom: 20px;
      ol {
        list-style-type: none;
        counter-reset: list-counter;
        padding-left: 20px;
        li {
          counter-increment: list-counter;
          margin-bottom: 5px;
          position: relative;
          padding-left: 40px;
          &::before {
            content: '(' counter(list-counter, decimal) ')';
            position: absolute;
            top: 0;
            left: 0;
            display: inline-block;
          }
        }
      }
      ul {
        list-style-type: none;
        counter-reset: list-counter;
        padding-left: 20px;
        li {
          counter-increment: list-counter;
          margin-bottom: 5px;
          position: relative;
          padding-left: 40px;
          &::before {
            content: '(' counter(list-counter, lower-alpha) ')';
            position: absolute;
            top: 0;
            left: 0;
            display: inline-block;
          }
          ol {
            list-style-type: none;
            counter-reset: list-counter;
            padding-left: 20px;
            li {
              counter-increment: list-counter;
              margin-bottom: 5px;
              position: relative;
              padding-left: 40px;
              &::before {
                content: '(' counter(list-counter, decimal) ')';
                position: absolute;
                top: 0;
                left: 0;
                display: inline-block;
              }
            }
          }
        }
      }
    }
  }
}
