.modal_wrapper{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    overflow-x: auto;
    z-index: 1001;
    .overlay{
        width:100%;
        height: 100%;
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        background: rgba(0,0,0,0.75);
    }
    .modal_box{
        width: 100%;
        max-width: 480px;
        padding: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #fff;
        border-radius: 20px;
        box-shadow: 0 4px 4px rgba(0,0,0,0.2);
        text-align: center;
        h2{
            margin-bottom: 10px;
        }
        p{
            color: #332C2B;
            margin-bottom: 10px;
        }
        span{
            font-weight: bold;
            font-size: 24px;
            display: block;
            margin-bottom: 20px;
        }
    }
}