.modal_wrapper{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    overflow-x: auto;
    z-index: 1001;
    .overlay{
        width:100%;
        height: 100%;
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        background: rgba(0,0,0,0.75);
    }
    .modal_box{
        width: 100%;
        max-width: 480px;
        padding: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #fff;
        border-radius: 20px;
        box-shadow: 0 4px 4px rgba(0,0,0,0.2);
        text-align: center;
        h2{
            margin-bottom: 10px;
            color: #332C2B;
        }
        p{
            color: #332C2B;
            margin-bottom: 10px;
            font-size: 16px;
        }
        span{
            font-weight: bold;
            font-size: 24px;
            display: block;
            margin-bottom: 20px;
        }
    }
    &.registration_success{
        .overlay{
            backdrop-filter: blur(10px);
        }
        .modal_box{
            h2{
                font-size: 24px;
            }
            h3{
                color: #2C347F;
                font-size: 24px;
                margin-bottom: 15px;
                line-height: normal;
                text-transform: capitalize;
            }
            p{
                margin-bottom: 15px;
            }
            .red_text{
                font-size: 16px;
                font-weight: bold;
                display: inline-block;
                margin-bottom: 0;
                color: #FF2F00;
            }
            .black_text{
                font-size: 16px;
                font-weight: bold;
                display: inline-block;
                margin-bottom: 0;
                text-decoration: underline;
            }
            .download_pdf_btn{
                border: 1px solid #009B4C;
                border-radius: 10px;
                box-shadow: 0 4px 4px rgba(0,0,0,0.2);
                width: 100%;
                display: block;
                height: 50px;
                line-height: 50px;
                margin-bottom: 20px;
                span{
                    font-size: 14px;
                    margin-bottom: 0;
                    color: #009B4C;
                    display: inline-block;
                    background: url('../public/images/icon_download.png') no-repeat left center / 24px;
                    padding-left: 26px;
                    text-transform: capitalize;
                }
            }
            .green_btn{
                max-width: 100px;
                margin: 0 auto;
                line-height: 44px;
            }
        }
    }
}