.register_ctr {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('../public/images/bg_batik.svg') no-repeat center center /
    cover;
  height: 100vh;
  width: 100%;
}

.register_form_ctr {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  .title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #332c2b;
  }
}
