.section_right_menu{
    width: calc(100% - 270px);
    .section_top_menu{
        margin-bottom: 20px;
    }
    .section_company_name{
        h2{
            font-size: 40px;
            color: #2C347F;
            font-weight: bold;
            text-transform: capitalize;
            display: inline-block;
        }
        .edit_profile_btn{
            background: url('../public/images/icon_pencil.png') no-repeat left center / 16px;
            color: #5B5B5B;
            font-weight: 500;
            font-size: 16px;
            padding-left: 20px;
            text-decoration: underline;
            display: inline-block;
            margin-left: 15px;
            cursor: pointer;
        }
    }
    .section_company_stock_code{
        h5{
            font-weight: bold;
            font-size: 24px;
            color: #C9C9C9;
            display: inline-block;
            text-transform: uppercase;
            margin-right: 5px;
        }
        span{
            color: #2C347F;
            font-size: 24px;
            font-weight: bold;
            display: inline-block;
        }
    }
    .section_company_date{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 10px;
        .listing_date{
            font-size: 16px;
            font-weight: 500;
            color: #5B5B5B;
            span{
                color: #2C347F;
                font-weight: 500;
            }
            &::after{
                content: '|';
                display: inline-block;
                margin: 0 10px;
                color: #19A748;
            }
        }
        .admission_date{
            font-size: 16px;
            font-weight: 500;
            color: #5B5B5B;
            span{
                color: #2C347F;
                font-weight: 500;
            }
        }
    }
    .section_company_web{
        display: flex;
        flex-wrap: wrap;
        .company_website{
            background: url('../public/images/icon_website.png') no-repeat left 10px center / 24px;
            box-shadow: 0 0 4px rgba($color: #000000, $alpha: 0.2);
            padding: 0 10px 0 40px;
            height: 50px;
            line-height: 50px;
            border-radius: 5px;
            margin-right: 15px;
            color: #19A748;
        }
        .company_email{
            background: url('../public/images/icon_email.png') no-repeat left 10px center / 24px;
            box-shadow: 0 0 4px rgba($color: #000000, $alpha: 0.2);
            padding: 0 10px 0 40px;
            height: 50px;
            line-height: 50px;
            border-radius: 5px;
            margin-right: 15px;
            color: #19A748;
        }
        .data_submitted{
            background: #FF2F00 url('../public/images/icon_upload_white.png') no-repeat left 10px center / 24px;
            box-shadow: 0 0 4px rgba($color: #000000, $alpha: 0.2);
            padding: 0 10px 0 40px;
            height: 50px;
            line-height: 50px;
            border-radius: 5px;
            color: #fff;
            cursor: pointer;
        }
        .in_review{
            background: #FFA629;
            box-shadow: 0 0 4px rgba($color: #000000, $alpha: 0.2);
            padding: 0 10px 0 10px;
            height: 50px;
            line-height: 50px;
            border-radius: 5px;
            color: #fff;
            cursor: pointer;
        }
    }
    .section_company_menu{
        margin-top: 20px;
        ul{
            display: flex;
            flex-wrap: wrap;
            &::after{
                content: '';
                display: block;
                width: 100%;
                border-bottom: 1px solid #D9D9D9;
                position: relative;
                top: -1px;
                z-index: -1;
            }
            li{
                display: block;
                margin-right: 40px;
                font-weight: 500;
                color: #2C347F;
                cursor: pointer;
                &.active{
                    border-bottom: 2px solid #19A748;
                }
            }
        }
    }
    .section_bottom_ctr{
        display: flex;
        flex-wrap: wrap;
        .section_profile_left{
            width: 560px;
            .section_about_company,
            .section_industry_company{
                padding: 20px;
                box-shadow: 0 0 6px rgba($color: #000000, $alpha: 0.2);
                border-radius: 20px;
                background: #fff;
                margin-bottom: 20px;
                h4{
                    color: #2C347F;
                    font-size: 24px;
                    font-weight: 600;
                    margin-bottom: 10px;
                }
                p{
                    font-size: 14px;
                    font-weight: 500;
                    color: #5B5B5B;
                }
            }
            .section_industry_company{
                margin-bottom: 0;
            }
            .sic_box{
                border-bottom: 1px solid #19A748;
                padding-bottom: 10px;
                margin-bottom: 10px;
                &:last-child{
                    margin-bottom: 0;
                    border: none;
                    padding: 0;
                }
                h5{
                    font-size: 14px;
                    font-weight: 500;
                    color: #2C347F;
                }
            }
        }
        .section_profile_right{
            width: calc(100% - 580px);
            margin-left: 20px;
        }
        .section_membership_none{
            background: #F0F0F0;
            border-radius: 20px;
            padding: 40px 20px;
            text-align: center;
            width: 100%;
            h3{
                font-size: 24px;
                color: #2C347F;
                font-weight: bold;
            }
            p{
                color: #332C2B;
                font-size: 500;
            }
            .red_text{
                color: #FF2F00;
                font-weight: bold;
            }
            .black_text{
                color: #332C2B;
                font-weight: bold;  
            }
            .download_pdf_btn{
                color:#fff;
                font-size: 14px;
                background: #009B4C;
                border-radius: 10px;
                margin-top: 20px;
                height: 50px;
                line-height: 50px;
                display: inline-block;
                padding: 0 20px;
                span{
                    background: url('../public/images/icon_download_white.png') no-repeat left center / 24px;
                    padding-left: 30px;
                    font-weight: 600;
                }
            }
        }
        .section_table_box{
            width: 100%;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 4px rgba($color: #000000, $alpha: 0.2);
            margin-bottom: 20px;
            .stb_ctr{
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 10px;
                h3{
                    font-size: 16px;
                    font-weight: bold;
                    color: #2C347F;
                }
                .add_more_btn{
                    background: #009B4C url('../public/images/icon_plus.png') no-repeat left 10px center / 20px;
                    padding-left: 34px;
                    color: #fff;
                    border-radius: 4px;
                    box-shadow: 0 0 4px rgba($color: #000000, $alpha: 0.2);
                    font-weight: 500;
                    height: 34px;
                    line-height: 34px;
                    width: 130px;
                    cursor: pointer;
                }
            }
            table{
                width: 100%;
                border-collapse: collapse;
                tr{
                    td{
                        border-bottom: 1px solid #19A748;
                        padding: 5px 0;
                        color: #5B5B5B;
                        font-weight: 500;
                        span{
                            display: block;
                            color: #2C347F;
                        }
                        .action_btn{
                            overflow: hidden;
                        }
                        .change_password{
                            border-radius: 4px;
                            background: #009B4C;
                            height: 27px;
                            display: block;
                            line-height: 27px;
                            color: #fff;
                            padding: 0 5px;
                            text-align: center;
                            cursor: pointer;
                            float: right;
                            margin-right: 5px;
                        }
                        .edit_btn{
                            width: 27px;
                            height: 27px;
                            display: block;
                            text-indent: -9999px;
                            background: url('../public/images/icon_edit.png') no-repeat center / contain;
                            cursor: pointer;
                            float: right;
                        }
                        .delete_btn{
                            width: 27px;
                            height: 27px;
                            display: block;
                            text-indent: -9999px;
                            background: url('../public/images/icon_delete.png') no-repeat center / contain;
                            cursor: pointer;
                            float: right;
                        }
                    }
                }
            }
        }
    }
}