.section_verify_email{
    width: 100%;
    min-height: calc(100vh - 190px);
    background: url('../public/images/batik.png') no-repeat center / cover fixed;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    .svm_box{
        background: #fff;
        width: 100%;
        padding: 20px;
        max-width: 420px;
        border-radius: 20px;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
        text-align: center;
        h4{
            margin-bottom: 20px;
            color: #000;
            font-size: 24px;
            font-weight: bold;
            display: inline-block;
            padding-left: 30px;
        }
        p{
            margin-bottom: 20px;
            color: #332C2B;
            font-weight: 500;
        }
    }
    .svm_error{
        h4{
            background: url('../public/images/icon_error.png') no-repeat left center / 24px;
        }
    }
    .svm_success{
        h4{
            background: url('../public/images/icon_success.png') no-repeat left center / 24px;
        }
    }
}